@import 'fonts.css';

:root {
  --white-main: #fff;
  --black-main: #181818;
  --black-light: #2e2e2e;
  --background-main: #fffbf2;
  --background-accent: #f5efe2;
  --primary-main: #f66d76;
  --primary-accent: #f55761;
  --yellow-main: #ffdb96;
  --secondary-main: #f6c76d;
  --secondary-accent: #ffd179;
  --red-main: #f66d76;
  --primary-accent: #f55761;
  --border-main: #222;
  --text-main: var(--black-main);
  --text-inverse: var(--white-main);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-main);
  color: var(--text-main);
  font-family: 'Rubik Mono One';
  height: 100%;
  width: 100%;
}

body::before {
  background: url('http://localhost:5173/src/assets/noise.svg');
  position: fixed;
  left: 0;
  top: 0;
  content: '';
  height: 100%;
  width: 100%;
  z-index: 9999;
  opacity: 25%;
  pointer-events: none;
}

h1 {
  font-size: 6rem;
  line-height: 6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 2.5rem;
}

a {
  color: var(--text-main);
  text-decoration: none;
}

a:visited {
  color: var(--text-main);
  text-decoration: none;
}

.home-divider:hover {
  /* height: 60vh; */
  flex-grow: 3;
}

.skew {
  transform: skew(-2deg, -2deg);
}
