.container {
  padding: 10px 16px;
  border-radius: 8px;
  max-width: 66%;
  font-weight: 500;
}

.sent {
  color: var(--primary-main);
  background-color: var(--secondary-main);
  align-self: flex-end;
}

.received {
  background-color: lightgray;
  color: var(--secondary-main);
  align-self: flex-start;
}
