.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.main {
  grid-area: main;
  height: 100vh;
}

.wipe {
  z-index: 50;
  position: fixed;
  height: 100vh;
  width: 100vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-main);
}

.text {
  font-size: 96px;
  font-weight: 900;
  stroke: var(--text-inverse);
  stroke-width: 2;
  height: 100px;
  width: 100%;
  fill: var(--text-inverse);
  fill-opacity: 0;
}
