.container {
  display: inline-flex;
  flex-direction: column;
}

.label {
  font-weight: 500;
  font-size: 1rem;
}

.input {
  height: 48px;
  width: 320px;
  border: none;
  outline: 2px solid var(--black-main);
  padding: 12px;
  font-family: 'Rubik';
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  border-radius: 8px;
  margin: 8px 0;
  transition: outline 100ms ease-in-out;
}

.input:active,
.input:focus-within {
  outline-width: 4px;
}

.input.error {
  outline-color: var(--error-main);
  background-color: var(--error-accent);
}

.input.success {
  outline-color: var(--success-main);
  background-color: var(--success-accent);
}

.error:not(.input) {
  color: var(--error-main);
}
