.container {
  position: relative;
}

.background {
  position: absolute;
  border: 2px solid var(--border-main);
  border-radius: 12px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.background.default {
  background-color: var(--secondary-main);
}

.background.red {
  background-color: var(--red-main);
}

.background.yellow {
  background-color: var(--yellow-main);
}

.heading {
  background-color: var(--secondary-main);
  color: var(--primary-main);
  width: 100%;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid var(--border-main);
}

.heading.red {
  background-color: var(--red-main);
  color: var(--secondary-main);
}

.heading.yellow {
  background-color: var(--yellow-main);
  color: var(--secondary-main);
}

.content {
  position: relative;
  padding: 2rem;
  display: grid;
  place-items: center;
  flex: 1;
  background-color: var(--background-main);
  border: 2px solid var(--border-main);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.content:is(.static) {
  transform: translate(-12px, -12px);
}
