.container {
  position: relative;
  background-color: var(--background-main);
  border: 2px solid var(--border-main);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  transition: box-shadow 150ms ease-in-out;
}

.default:is(:hover, .static) {
  box-shadow:
    12px 12px var(--secondary-main),
    12px 12px 0 2px var(--border-main);
}

.container.red:is(:hover, .static) {
  box-shadow:
    12px 12px var(--red-main),
    12px 12px 0 2px var(--border-main);
}

.container.yellow:is(:hover, .static) {
  box-shadow:
    12px 12px var(--yellow-main),
    12px 12px 0 2px var(--border-main);
}

.container:not(.static):hover {
  cursor: pointer;
  transform: translate(-12px, -12px);
}

.container:not(.static):active {
  box-shadow: none;
}

.heading {
  background-color: var(--secondary-main);
  color: var(--primary-main);
  width: 100%;
  padding: 1rem;
  border-radius: 10px 10px 0 0;
  border-bottom: 2px solid var(--border-main);
}

.heading.red {
  background-color: var(--red-main);
  color: var(--secondary-main);
}

.heading.yellow {
  background-color: var(--yellow-main);
  color: var(--secondary-main);
}

.content {
  padding: 2rem;
  display: grid;
  place-items: center;
  flex: 1;
}
