.base {
  border: 2px solid var(--black-main);
  border-radius: 12px;
  padding: 8px;
  color: var(--text-inverse);
  font-family: 'Rubik';
  font-weight: 700;
  font-size: 1rem;
  /* transition: all 150ms ease-in-out; */
}

.text {
  border: none;
}

.outlined {
  background-color: transparent;
  color: var(--black-main);
}

.outlined:hover {
  background-color: var(--black-main);
  color: var(--text-inverse);
}

.filled {
  background-color: var(--black-main);
}

.filled:hover {
  background-color: var(--black-light);
}

.sm {
  height: 32px;
  min-width: 64px;
}

.md {
  height: 48px;
  min-width: 96px;
  font-size: 1rem;
  border-width: 2px;
}

.lg {
  height: 60px;
  min-width: 128px;
  font-size: 1.33rem;
  border-width: 3px;
}
