.button {
  height: 48px;
  border: 2px solid var(--black-main);
  border-radius: 8px;
  padding: 8px;
  color: var(--text-inverse);
  background-color: var(--black-main);
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1rem;
  transition: all 150ms ease-in-out;
}

.text {
}

.outlined {
  background-color: transparent;
  color: var(--black-main);
}

.outlined:hover {
  background-color: var(--black-main);
  color: var(--text-inverse);
}

.filled {
}

.filled:hover {
  background-color: var(--black-light);
}
