.container {
  /* grid-area: chat; */
  border: 2px solid coral;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 3px solid var(--secondary-main);
  border-radius: 16px;
  overflow: hidden;
}

.header {
  background-color: var(--secondary-main);
  color: var(--primary-main);
  padding: 18px 24px;

  h3 {
    font-size: 18px;
  }
}
