.heading {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--text-primary-main);
}

.heading::after {
  content: 'Play';
  position: absolute;
  left: 6px;
  top: 6px;
  -webkit-text-fill-color: var(--background-main);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  z-index: -1;
}

.lobby {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.players {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: 'player1 vs player2';
  align-items: center;
  gap: 4rem;
}

.player2 {
  grid-area: player2;
  justify-self: start;
}

#vs {
  grid-area: vs;
  -webkit-text-fill-color: var(--background-main);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  margin: 16px;
  justify-self: center;
  align-self: center;
}

.actions {
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--background-main);
  bottom: 10%;
  left: 50%;
  width: 300px;
  border: 2px solid var(--border-main);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 12px;
  box-shadow: 8px 8px 0 0 var(--border-main);
}
