.entry_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  height: min-content;
}

.winner {
  border: 2px solid pink;
}

.text {
  font-weight: 700;
}

.svg {
  height: 32px;
  width: 32px;
  z-index: 0;
}
