.container {
  background-color: var(--black-main);
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in-out;
  display: grid;
  place-items: center;
}

.primary:hover {
  background-color: var(--primary-main);
}

.secondary:hover {
  background-color: var(--secondary-main);
}

/* .container:hover {
  background-color: red;
} */

.text {
  color: var(--text-inverse);
}
